html {
    font-family: "Quicksand", sans-serif;
    font-size: 14;
}
header{
    background-color: #161f65;
    border: 2px solid #daa520;
    border-radius: 20px;
}
.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

.nav {
    line-height: 40px;
    text-align: center;
    margin-bottom: 3rem;    
}

.nav a {
    padding: 1rem 2rem;
    
    font-size: 2rem;
    color: white;
}


 .company-h2 {
 text-align: center;
 font-family: "Raleway" , sans-serif;
 font-weight: 50rem;
 font-size: 2rem;
 color: #161f65;
 margin-bottom: 0;
}

.company {
    display: flex;
    margin-top: 0;
    background-image: url(../images/mother-father-child-girl-room-with-symbol-roof-concept-housing-young-family_1.jpg);
    background-size: cover;
    height: 700px;
    border-radius: 20px;
    border: 2px solid #daa520;
}
.company h3{
    
    font-size: 2rem;
    font-weight: bold;
    color: #161f65;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    margin-top: 0;
    margin: auto;
    width: 100%;
}

.company-text {
    color: #161f65;
    padding: 0.25rem;
    border: 3px solid #daa520;
    border-radius: 20px;
    background-color: #daa520;
}

.portfolio {
    display: flex;
    border: 3px solid #daa520;	
    border-radius: 20px;
    min-height: 400px;
    margin: auto;
 
   
}

.gallery-h2 {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #161f65;
    text-align: center;
}

.gallery-h4 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #161f65;
    text-align: center;

}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.8rem;
    
}

.picture img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
    border: 2px solid #daa520; 
    border-radius: 20px;
}

.our-team{
    text-align: center; 
}

.team {
    display: flex;
    border: 3px solid #daa520;	
    border-radius: 20px;
    min-height: 400px;
    margin: auto;
    background-image: url(../images/tiomothy-swope-zwe--GYIZtc-unsplash.jpg);
    background-size: cover;

}
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.member img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
    border: 2px solid #daa520; 
    border-radius: 20px;
}
.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.caption {
    display: block;
    color: #161f65;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.contact {
    text-align: center;
    color: #161f65;

}

.copyright {
    text-align: left;
    color: #161f65;
}